html {
    scroll-behavior: smooth;
}

body {

    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Gentium Book Plus', serif;
}

h1 {
    color: #1363DF;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    font-weight: normal;
    margin-top: 80px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: aquamarine;
}

h4 {
    font-family: 'Raleway', sans-serif;
    padding-top: 20px;
    color: whitesmoke;
}

p {
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: gray;
    border-width: 3px;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 50px;
}

a {
    color: aquamarine;
    font-family: 'Raleway', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #ffffff;

}


.span-color {
    color: aquamarine;
}


.spancol2 {
    color: orangered;
}

/* nav bar  */
.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 18px 2px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: #00ffff;
}

.home {
    position: fixed;
    padding: 4px;
    margin-left: 300px;


}

/* home image*/

.top-container img {
    height: 100%;
    width: 100%;
    color: white;
}

.top-h2 {
    position: absolute;
    margin-right: 20px;
    top: 30%;
    left: 9%;

}

.top-container h2 {
    margin: 25px;
}

/* mid container  */


.middle-container p {
    width: 40%;
    margin-left: 30%;
}

.about img {
    width: 18%;
    text-align: center;
    padding: 20px 0px
}


.about-btn {
    cursor: pointer;
    padding: 10px;
    margin-top: 30px;
}

#bt1 {
    border: 2px solid aquamarine;
    border-radius: 15px;
    padding: 7px;

}

#bt2 {
    border: 2px solid #7fffd4;
    border-radius: 15px;
    padding: 6px;

}

/* education   */

.boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.e-box {

    border-radius: 20px;
    margin: 20px;
    width: 380px;
    height: 280px;
    text-align: left;
    padding: 10px;
}

.school {
    font-size: 14px;
    color: gainsboro;
}

.e-box h3 {
    font-size: 20px;
    color: aquamarine;
}

.date {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.e-box p {
    margin-bottom: 1rem;
}


/* skills */
.skills {
    margin-top: 4vh;

}

.exp h4 {
    color: mintcream;
    margin-bottom: 40px;

}

.para {
    width: 40%;
    line-height: 2;
    margin: auto;

}

/* tech images */

.simg {
    width: 12%;

}

#simg2 {
    filter: invert(100%);

}

.exp img:hover {
    opacity: 0.8;
}


/* projects section  */


.p-container {
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}


.containers {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
    margin: auto;

}

.containers p {
    padding: 0.4rem;
}

.p-pic {
    height: 9em;
}

.word-col {
    color: crimson;
}

.word-col2 {
    color: cyan;
}

.word-col3 {
    color: darkgrey;
}


/* bottom conatact  */
.contact-me {
    margin-bottom: 50px;
}

.h3-bottom {
    font-weight: normal;
}



.btn {
    background: #72e8bf;
    background-image: -webkit-linear-gradient(top, #72e8bf, #42b38a);
    background-image: -moz-linear-gradient(top, #72e8bf, #42b38a);
    background-image: -ms-linear-gradient(top, #72e8bf, #42b38a);
    background-image: -o-linear-gradient(top, #72e8bf, #42b38a);
    background-image: linear-gradient(to bottom, #72e8bf, #42b38a);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 14px 9px 16px;
    text-decoration: none;

}

.btn:hover {
    background: #5fc7c7;
    background-image: -webkit-linear-gradient(top, #5fc7c7, #269696);
    background-image: -moz-linear-gradient(top, #5fc7c7, #269696);
    background-image: -ms-linear-gradient(top, #5fc7c7, #269696);
    background-image: -o-linear-gradient(top, #5fc7c7, #269696);
    background-image: linear-gradient(to bottom, #5fc7c7, #269696);
    text-decoration: none;
}


/* bottom  */

.bottom-container {
    padding: 50px;
    background-color: #67b89d;
    border-radius: 20px 20px 0 0;


}

.bottom-container h4 {
    color: white;
    padding: 0px;
}

.endp {
    color: #EAF6F6;
    font-size: 0.85rem;

}

@media only screen and (max-width: 900px) {

    .simg {
        width: 30%;

    }

    .para {
        width: 90%;
    }

    .boxs {
        justify-content: center;
    }

    #pf-pic {
        width: 19em;
    }

    .middle-container {
        margin-top: 0px;
    }

    .middle-container p {
        width: 65%;
        margin-left: 60px;
    }

    .about img {
        width: 45%;
    }

    .top-h2 {
        margin-right: 16px;
        top: 15%;
        left: 6%;

    }

    .top-container h2 {
        margin: 0;
    }

    .top-h2 h2 {
        font-size: 0.75rem;
    }

    .navbar li {
        font-size: 1rem;
    }

    .home {
        padding: 7px;
        margin-top: 18px;
        margin-right: -30px;
    }

    .navbar li a {
        padding: 2px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: right;

    }

    #abt {

        text-align: end;
   }

   .top-container img {
    height: 25vh;

}
hr {
    margin-top: 70px;
}
}